body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 2rem;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 30px;
  /*margin-bottom: 1.5rem;*/
  text-align: center;
}

.filtros {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.filtros label {
  font-weight: bold;
}

.filtros input,
.filtros select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 0.6rem 1.2rem;
  /*background-color: #007bff;*/
  background-color: #415e7c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  /*background-color: #0056b3;*/
  background-color: #2c3e50;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

thead {
  /*background-color: #007bff;*/
  background-color: #415e7c;
  color: white;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td.estado {
  font-weight: bold;
  text-transform: uppercase;
}

/* Estado: Fila completa de color según el estado */
.estado-pagado {
  background-color: #d4edda;
}

.estado-parcial {
  background-color: #fff3cd;
}

.estado-pendiente {
  background-color: #f8d7da;
}

/* Mensaje vacío */
#mensajeVacio {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  color: #777;
  display: none;
}
