# Entornos virtuales
venv/
.env/

# Archivos del sistema
__pycache__/
*.pyc

# Archivos de macOS
.DS_Store

# Configs de VSCode
.vscode/

/html/admin1.html
/html/admin1.css
/html/historial1.html
/html/historial1.css
/html/historial1.js
/html/tarjetas.html
/html/tarjetas.css
/html/style1.css
/html/style3.css
/html/empresa.html
/html/listado.html
/html/listado.css
database.py
