* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* beige */
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width: 100%;
}

.titulo {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 28px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Fijamos a 3 columnas */
  gap: 20px;
}


.card {
  background-color: #444;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.card:hover {
  background-color: #4CAF50;
}

